{% extends 'base.html' %}
{% block title %}🌟 La Casita de los Cuentos 📚{% endblock %}

{% block content %}
    <h1>🍯🐻 Ricitos de Oro 👧🏼🍯</h1>
    <p>Una niña curiosa llamada Ricitos de Oro entró sin permiso 
        en la casa vacía de una familia de tres osos en el bosque; 
        tras probar la sopa, las sillas y las camas de papá oso, mamá osa 
        y el osito, eligió en cada caso lo que le resultaba justo a su medida 
        hasta quedarse profundamente dormida en la cama del más pequeño. Al 
        regresar los osos y descubrir el desorden, la despertaron sobresaltada, 
        provocando que la niña huyera despavorida por la ventana para no volver jamás.</p>
{% endblock %}