{% extends 'base.html' %}
{% block title %}🌟 La Casita de los Cuentos 📚{% endblock %}

{% block content %}
    <h1>🏠🐷 Los Tres Cerditos 💨🐺</h1>
    <p>Tres cerditos construyeron sus casas en el bosque para 
        protegerse del lobo feroz: el menor usó paja por pereza, 
        el mediano madera por terminar rápido y el mayor ladrillo 
        con esfuerzo y paciencia; cuando llegó el lobo, derribó de 
        un soplido las dos primeras viviendas obligando a los hermanos 
        a refugiarse en la del mayor, donde los soplidos del villano 
        fracasaron por completo y, al intentar colarse por la chimenea, 
        cayó en una olla de agua hirviendo, huyendo quemado para siempre 
        y dejando a los tres a salvo gracias al valor del trabajo bien hecho.</p>
{% endblock %}